section {
    display: flex;
    justify-content: space-between;
}

.hero span {
    color: var(--blue-dark);
}

.hero h1 {
    font-size: 120px;
}

.hero p {
    width: 400px;
    margin-bottom: 25px;
}

.logo_hero {
    width: 400px;
}